extends layout

block content
  h1= title
  p #{title}
  div
    table
      thead
        tr: th Pagos
      tbody
        each pago in pagos
          tr
            td= pago.merchantTransactionId
            td= pago.transactionStatus
            td= pago.mfsTransactionId
        else
          li Sorry, no hay pagos!
  p Nuevo Dummy
    form#formNuevoDummy(name="nuevodummy",method="post",action="/dbtest")
        button#btnSubmit(type="submit") Nuevo
