extends layout

block content
  h1= title
  p #{title}
  div
    table
      thead
        tr: th Pagos
      tbody
        each pago in pagos
          tr
            td= pago.merchantTransactionId
            td= pago.transactionStatus
            td= pago.mfsTransactionId
        else
          li Sorry, no hay pagos!
